.characters {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  background: #fff;
  box-shadow: 0 10px 6px -6px #777;
  margin: 1em;
  width: 250px;
}

.character header {
  color: #E0E1DD;
  background: #415A77;
  line-height: 1.5em;
  text-align: center;
}

.character span {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2.5em;
  text-align: center;
}

.character button {
  display: block;
  margin: .5em auto;
  width: 50%;
}

.character button:hover {
  background-color: #1B263B;
  color: #E0E1DD;
}

#newCharacters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.handlebarsHolder {
  outline: black 5x solid;
}

#more {
  display: block;
  margin: 1em auto;
  align-self: center;
}

#more:hover {
  background-color: #1B263B;
  color: #E0E1DD;
}